@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;
}

.flexBetween {
  @apply flex items-center justify-between;
}

.overlay {
  @apply absolute z-30 flex h-[300px] w-[400px] flex-col items-center justify-center gap-4
  whitespace-normal bg-primary-500 p-5 text-center text-white opacity-0 
  transition duration-500 hover:opacity-90;
}

.inputs {
  @apply mb-5 w-full rounded-lg bg-primary-300 px-5 py-3 placeholder-white;
}
